<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.intigritirobotics">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@drawable/test_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/test_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.IntigritiRobotics">
        <activity android:name=".ProjectPdfActivity" />
        <activity android:name=".MyOrderDetailActivity" />
        <activity android:name=".CheckOutActivity" />
        <activity android:name=".UpdateUserDetails" />
        <activity
            android:name=".ProductDetailActivity"
            android:parentActivityName=".MainHomeActivity"
            android:theme="@style/Theme.IntigritiRobotics.NoActionBar" />
        <activity
            android:name=".ui.Support.SupportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.Setting.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.MyCart.MyCartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.MyAccount.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ViewAllActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MainHomeActivity"
            android:label="@string/title_activity_main_home"
            android:theme="@style/Theme.IntigritiRobotics.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.IntigritiRobotics.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            tools:ignore="LockedOrientationActivity" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_6fL9gcabPXqYqj" />
    </application>

</manifest>